	/* These are all EXAMPLES -- they are meant to be updated/changed/modified */
	TD, BODY { font: 12px 'Verdana','Arial','Helvetica','Sans-Serif'; text-align: left; }
	TH { font: 12px 'Verdana','Arial','Helvetica','Sans-Serif'; text-align: left; font-weight: bold; }
	.title { font: 30px 'Verdana','Arial','Helvetica','Sans-Serif'; font-weight: bold; margin-left: -2px;}
	.title_action { font: 12px 'Verdana','Arial','Helvetica','Sans-Serif'; font-weight: bold; margin-bottom: -4px; }
	.warning { color: #ff0000; }
	.instructions { font: 9px 'Arial','Helvetica','Sans-Serif'; font-style: italic; }
	.item_divider { line-height: 16px; }
	.item_label { font: 12px 'Verdana','Arial','Helvetica','Sans-Serif'; padding-bottom: 4px; }
	.item_label_disabled { font: 12px 'Verdana','Arial','Helvetica','Sans-Serif'; padding-bottom: 4px; color: #999999; }

	.button { font: 10px 'Verdana','Arial','Helvetica','Sans-Serif'; font-weight: bold; }
	.listbox { font: 12px 'Verdana','Arial','Helvetica','Sans-Serif'; width: 250px; }
	.textbox { font: 12px 'Verdana','Arial','Helvetica','Sans-Serif'; width: 250px; }

	.paginator_inactive_step { font-weight: bold; color: #aaaaaa; }
	.paginator_active_step { font-weight: bold; color: #000000; text-decoration: none; }
	.paginator_page { text-decoration: none; color: #000000; padding: 0px 3px 0px 3px; }
	.paginator_selected_page { font-weight: bold; background-color: #ddccff; padding: 0px 3px 0px 3px; border: 1px; border-style: solid; }
	
	.dashboard_top {width: 854px; margin-left: 170px; color: #000066; font: 30px 'Verdana','Arial','Helvetica','Sans-Serif'; font-weight: bold; height: 40px;}
	.dashboard_pane {float: left; font-size: 10px; width: 160px;}
	.dashboard_left {float: left; background-color: #eeeeff; width: 400px; height: 500px; margin-left: 10px; border-width: 1px; border-style: solid; border-color: black; padding: 10px; overflow: auto;}
	.dashboard_right {float: left; background-color: #eeeeff; width: 400px; height: 500px; margin-left: 10px; border-width: 1px; border-style: solid; border-color: black; padding: 10px; overflow: auto;}
